<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="box_red"><h1>
      {{ title }}
    </h1>
  </div>
  <div class="box_green">green</div>
  <div class>
    <yaga-map [lat]="51.5768558" [lng]="7.568283" [zoom]="11">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>
        <yaga-tile-layer [url]="'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'" [attribution]="'© OpenStreetMap-Mitwirkende'"></yaga-tile-layer>
    </yaga-map>
  </div>
  </div>

