h1 {
  color: #369;
  font-family: Arial, Helvetica,sans-serif;
  font-size: 250%;
}
.box_red {
  background-color:red;
  min-height:50px;
}
.box_green {
  background-color:green;
  float: left;
  min-height:50px;
  width: 30%;
}
.box_blue {
  background-color:blue;
  float: right;
  min-height:50px;
  width: 69%;
}

